.border-div {
margin-top: 25px;
}

.navi {
    background-color: #cccccc;
    margin-bottom: 15px;
}

.navi li {
    padding: 10px;
    border: 1px solid #212020;
}

.page-content {
margin-top: 15px;
}

.page-content h1, .page-content p {
margin-bottom: 15px;
}

.skill-span {
margin-left: 5px;
font-size: 60%;
}

#contacts a {
    color: #cccccc;
}

#my-name {
font-family: Lobster, cursive;
color: #212020;
font-size: 38px;
text-shadow: -2px 2px black;
}

#my-pic {
    vertical-align: middle;
    max-width: 100%;
    margin-right: 30px;
    margin-bottom: 15px;
}

a {
    color: #212020;
}

html {
    display: block;
}

img {
    max-width: 60%;
    margin-bottom: 5px;
    margin-top: 15px;
}

h1, h2 {
    font-family: Lobster, cursive;
    margin-bottom: 15px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-bottom: 15px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}

body, h1, h2, p, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

i {
    font-size: 200%;
    padding: 5px;
}



article, body, div, footer, header, main, nav, section {
    display: block;
}

body {
    font-family: Roboto, monospace;
    line-height: 1.4;
    background-color: #212020;
    color: #ccc;
    font-size: 125%;
}