div, nav {
    display: none;
}

html {
    font-family: 'Roboto', sans-serif;
}

img {
    padding-top: 2rem;
}

.list-group-item i {
    margin-right: 1rem;
    font-size: 150%
}

.dark-list {
    border-color: #343a40;
    background-color: #343a40;
}

.light-list {
    border-color: #f8f9fa;
    background-color: #f8f9fa;
}

.info {
    font-size: 140%;
}

.head-text {
    font-family: Lobster, cursive;
}

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

#big-name {
    text-shadow: -2px 2px black ;
}

#contact-bar {
    color: #f8f9fa;
    font-size: 120%;
}

#pysnake {
    max-width: 85%;
}

#solitaire {
    max-width: 95%;
}

#website {
    max-width: 85%;
}
#top-bar {
    opacity: .95;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}
